[package]
name = "init"
version = "0.1.0"
edition = "2021"

[dependencies]
anyos_std = { path = "../../../stdlib" }
libimage_client = { path = "../../dll/libimage_client" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
