[package]
name = "anyos_kernel"
version = "0.1.0"
edition = "2021"

[features]
default = []
debug_verbose = []

[dependencies]

[profile.dev]
panic = "abort"
opt-level = 2

[profile.release]
panic = "abort"
